<?xml version='1.0' encoding='utf-8' ?>
<plugin id="com-Hongleilibs-photoviewer" version="1.1.10" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>PhotoViewer</name>
	<description>This plugin is intended to show a picture from an URL into a Photo Viewer with zoom features.</description>
	<js-module name="PhotoViewer" src="www/PhotoViewer.js">
		<clobbers target="PhotoViewer" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="PhotoViewer">
				<param name="android-package" value="com.Hongleilibs.PhotoViewer.PhotoViewer" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity android:name="com.Hongleilibs.PhotoViewer.PhotoMultipleActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        </config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

 		<source-file src="src/android/PhotoViewer.java" target-dir="src/com/Hongleilibs/PhotoViewer" />
 		<source-file src="src/android/ViewPagerFixed.java" target-dir="src/com/Hongleilibs/PhotoViewer" />
	    <source-file src="src/android/PhotoMultipleActivity.java" target-dir="src/com/Hongleilibs/PhotoViewer" />
		<source-file src="src/android/layout/activity_photo.xml" target-dir="res/layout" />
		<source-file src="src/android/activity_multiple_photo.xml" target-dir="res/layout" />
		<source-file src="src/android/drawable/returns.png" target-dir="app/src/main/res/drawable-port-hdpi" />
		<source-file src="src/android/drawable/download.png" target-dir="app/src/main/res/drawable-port-hdpi" />
		<framework src="com.android.support:support-v4:23.1.1" />
		<framework src="com.commit451:PhotoView:1.2.4" />		
	</platform>
</plugin>
